<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Rahul Kapoor. It uses data from mapbox and weatherstack to fetch and display the current weater of a location.</p>
    </div>
    {{>footer}}
</body>
</html>